{% extends 'base.html' %}
{% block content %}
    <style>
        #c {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    </style>
    <canvas id="c"></canvas>

    <script>
        jQuery(function ($) {
            var field2color = {
                0: '#CCC',
                1: 'yellow',
                2: 'orangered',
                3: '#999'
            };
            var height = $(window).height();
            var width = $(window).width();

            c.width = width;
            c.height = height;
            var canvas = new fabric.StaticCanvas('c', {renderOnAddRemove: false, backgroundColor: field2color[0]});

            function renderMap(map) {
                var rows = map.length, columns = map[0].length;
                $.each(map, function (y, row) {
                    $.each(row, function (x, field) {
                        if (field == 0) {
                            return;
                        }
                        canvas.add(new fabric.Rect({
                            left: x * width / columns,
                            top: y * height / rows,
                            fill: field2color[field],
                            width: width / columns,
                            height: height / rows
                        }));
                    });
                });
                canvas.renderAll();
            }

            function refreshMap() {
                $.ajax('{{ url_for('game', bot_id=bot_id) }}').success(function (data) {
                    renderMap(data.map);
                })
            }

            refreshMap();
            setInterval(refreshMap, 2000);
        });
    </script>
{% endblock %}
{% block title %}
{% endblock %}
