{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-block"><h4 class="card-title">{{ games|length }} bots:</h4></div>
                <div class="card-block">
                    <ul class="list-group">
                        {% for bot_id, game in games|dictsort('bot_id') %}
                            <li class="list-group-item">
                                <strong>{{ bot_id }}</strong> in game
                                <span class="label label-success label-pill">{{ game._bots_positions|length }}</span>
                                active and
                                <span class="label label-primary label-pill">{{ game._empty_bots_positions|length }}</span>
                                free
                                bots.
                                <a class="btn btn-warning btn-sm pull-right"
                                   href="{{ url_for('admin_game_detail', bot_id=bot_id) }}">E</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}