<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>PYBOTS - hra pro programátory</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='github.css') }}"/>
    <style>
        body {
            max-width: 960px;
            margin: auto;
        }

        h1 {
            float: left;
        }

        h1 + p {
            float: right;
        }

        h1 + p + p {
            clear: both;
        }
    </style>
</head>
<body>
{{ readme_html|safe }}
</body>
</html>